<div
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center"
  (click)="close.emit()">
  <div class="bg-white rounded shadow-md w-11/12 max-w-lg" (click)="$event.stopPropagation()">
    <div class="flex justify-between items-center border-b border-gray-200 px-4 py-2">
      <h2 class="text-lg font-semibold">{{ title }}</h2>
      <button
        *ngIf="showCloseButton"
        class="text-gray-500 hover:text-gray-700"
        (click)="close.emit()">
        &times;
      </button>
    </div>

    <div class="p-4">
      <ng-content></ng-content>
    </div>
  </div>
</div>
