<form [formGroup]="campaignForm" (ngSubmit)="onSubmit($event)" class="space-y-4">
  <div class="form-group">
    <label class="block">
      <span class="text-gray-700">Nazwa</span>
      <app-input
        formControlName="name"
        placeholder="Podaj nazwę kampanii..."
        [loading]="false"
        [errorMessage]="campaignForm.get('name')?.touched && campaignForm.get('name')?.invalid ? 'Nazwa kampanii jest wymagana' : undefined"
      ></app-input>
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      <span class="text-gray-700">Słowa kluczowe</span>
      <div class="relative">
        <app-combobox
          [options]="keywords"
          formControlName="keywords"
          placeholder="Wybierz słowa kluczowe..."
          [loading]="(isKeywordsLoading$ | async) ?? false"
        ></app-combobox>
      </div>
      <div
        *ngIf="campaignForm.get('keywords')?.invalid && campaignForm.get('keywords')?.touched"
        class="text-red-500 text-sm"
      >
        Podaj co najmniej jedno słowo kluczowe
      </div>
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      <span class="text-gray-700">Kwota oferty</span>
      <app-input
        formControlName="bidAmount"
        placeholder="Podaj kwotę oferty"
        [loading]="false"
        [errorMessage]="campaignForm.get('bidAmount')?.touched && campaignForm.get('bidAmount')?.invalid ? 'Kwota oferty musi być większa od zera' : undefined"
      ></app-input>
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      <span class="text-gray-700">Budżet</span>
      <app-input
        formControlName="campaignFund"
        placeholder="Podaj budżet"
        [loading]="false"
        [errorMessage]="campaignForm.get('campaignFund')?.touched && campaignForm.get('campaignFund')?.invalid ? 'Budżet musi być większy od zera' : undefined"
      ></app-input>
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      <span class="text-gray-700">Status</span>
      <app-select
        [options]="['on', 'off']"
        formControlName="status"
        placeholder="Wybierz status..."
        [loading]="false"
      ></app-select>
      <div
        *ngIf="campaignForm.get('status')?.invalid && campaignForm.get('status')?.touched"
        class="text-red-500 text-sm"
      >
        Wybierz status kampanii
      </div>
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      <span class="text-gray-700">Miasto</span>
      <app-select
        [options]="towns"
        formControlName="town"
        placeholder="Wybierz miasto..."
        [loading]="(isTownsLoading$ | async) ?? false"
      ></app-select>
      <div
        *ngIf="campaignForm.get('town')?.invalid && campaignForm.get('town')?.touched"
        class="text-red-500 text-sm"
      >
        Wybierz miasto
      </div>
    </label>
  </div>

  <div class="form-group">
    <label class="block">
      <span class="text-gray-700">Promień (km)</span>
      <app-input
        formControlName="radius"
        placeholder="Podaj promień"
        [loading]="false"
        [errorMessage]="campaignForm.get('radius')?.touched && campaignForm.get('radius')?.invalid ? 'Promień musi być większy od zera' : undefined"
      ></app-input>
    </label>
  </div>

  <div class="flex justify-end space-x-2">
    <button
      type="button"
      class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400"
      (click)="cancel.emit()"
    >
      Anuluj
    </button>
    <button
      type="submit"
      [disabled]="campaignForm.invalid || campaignForm.untouched"
      [ngClass]="{ 'bg-blue-300': campaignForm.invalid || campaignForm.untouched, 'bg-blue-600': !campaignForm.invalid }"
      class="bg-blue-600 text-white px-4 py-2 rounded "
    >
      Zapisz
    </button>
  </div>
</form>
